.footer {
  padding: 60px 0;
  text-align: center;
  margin-top: auto;
}

.footer__text {
  font-family: "Poppins", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0;
  color: rgba(33, 33, 33, 0.7);
  margin: 0;
}
