.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
}

.modal__container {
  width: 730px;
  height: 408px;
  padding: 32px 50px;
  background-color: #ffffff;
  border-radius: 8px;

  display: flex;
  flex-direction: column;
  gap: 32px;

  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.12); /* Optional, matches visual depth */
  position: relative;
}

.modal__close-btn {
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  /*TODO - add close icon and make sure it looks right */
}

.modal__title {
  margin: 0 0 32px;
}

.modal__form {
  display: flex;
  flex-direction: column;
  width: 730px;
  height: 408px;
  background-color: #ffffff;
  padding: 32px 50px;
  gap: 32px;
  border-radius: 8px;
  box-sizing: border-box;
}

.modal__label {
  margin: 0 0 32px;
}

.modal__input {
  display: block;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.modal__close-btn {
  background: url(../images/close.svg) no-repeat center;
  background-size: 16px 16px;
  border: none;
  cursor: pointer;
  background-color: transparent;
}
