.profile {
  display: flex;
}

.profile__avatar {
  margin-right: 20px;
}

.profile__column {
  display: flex;
  flex-direction: column;
}

.profile__edit-btn {
  margin-top: auto;
}

.profile__add-btn {
  margin-left: auto;
}
