.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
  margin-bottom: 12px;

  /* Required fix */
  cursor: pointer;
}

/* Optional flair for polish ✨ */
.card__image_hover-zoom {
  transition: transform 0.2s ease;
}

.card__image_hover-zoom:hover {
  transform: scale(1.02);
}

.card__title {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  color: #212121;
  margin: 0;
  padding: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 353px;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__like-btn {
  background-image: url(../images/heart.svg);
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 40%;
  cursor: pointer;
}

.card__like-btn:hover {
  opacity: 1;
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
  }

  .card__title {
    font-size: 16px;
    line-height: 1;
    max-width: 235px;
  }
}
