.page {
  background-color: #fcf5e5;
  min-height: 100vh;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.page__section {
  margin: 0 auto;
  max-width: 1280px;
}

html,
body {
  height: 100%;
  margin: 0;
}
